.vscode
*out
Reflections
criu-necromancer
env_without_rseq
norseq
TestFolder

# Created by protobuf
Images/*.c
Images/*.d
Images/*.h
Images/*.o
Images/google/protobuf/*.c
Images/google/protobuf/*.d
Images/google/protobuf/*.h
Images/google/protobuf/*.o
